h1,
h2,
h3,
h4,
h5,
h6,
button,
p.standard {
  font-family: "Roboto", sans-serif;
}

p,
label,
input,
select,
option,
div {
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  text-transform: capitalize;
  font-weight: 700;
}

h4 + a {
  font-size: 1.125rem;
}

p {
  font-size: 1.125rem;
}

p.standard {
  color: rgb(0, 0, 0, 0.8);
}

nav > a {
  font-size: 1.125rem;
}

footer > p {
  font-size: 1rem;
}

button > strong {
  font-size: 1.25rem;
}

.investors-subtitle {
  font-size: 1.75rem;
}

.container-primary {
  min-height: calc(100vh - 70px - 3rem);
}

@media (min-width: 992px) {
  .container-investors {
    max-width: 720px;
  }
}

.text-primary {
  color: #1588ff !important;
}

.bg-secondary {
  background-color: #545f66 !important;
}

.btn {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.btn-primary {
  background-color: #1588ff !important;
  border-color: #1588ff !important;
}

.border-primary {
  border-color: #1588ff !important;
}

img.flip {
  -moz-transform: scaleX(-1); /* Gecko */
  -o-transform: scaleX(-1); /* Opera */
  -webkit-transform: scaleX(-1); /* Webkit */
  transform: scaleX(-1); /* Standard */

  filter: FlipH; /* IE 6/7/8 */
}

.footer {
  position: "fixed";
  height: 40px;
  bottom: 0;
}

a[href^="tel"] {
  color: #1588ff !important;
  text-decoration: none;
}

strong a[href^="tel"] {
  color: #fff !important;
  text-decoration: none;
}

a {
  color: #1588ff !important;
}

a:hover {
  color: #0056b3 !important;
}
